html {
    font-family: 'Press Start 2P', monospace;
    color:whitesmoke;
    background-color: #000;
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.link {
    color: #fff;
    text-decoration:none;

}

.link:hover {
    color: #666;
}

.centered {
    display: inline;
    position: relative;
    left: 9%;
}

.container { /*all box0, box1 and so on are "inside" this contianer*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 990px;
    height: 800px;
    background: rebeccapurple;
}

.box0 {
    text-transform: uppercase;
    text-align: right;
    top: 90px;
    width: 990px;
    height: 20px;
    color: #fff;
    background: #000
    
}

.box1 {
    width: 990px;
    height: 130px;
    background: #0000ff;
}
  
.box2 {
    position: absolute;
    top: 115px;
    width: 990px;
    height: 25px;
    color: #0000ff;
    background: #00ffff;
}

.box3 {
    width: 990px;
    height: 430px;
    background: #000;
    font-size: 24px;
}

.box4 {
    text-transform: uppercase;
    width: 990px;
    height: 145px;
    color: #0000ff;
    background: #00ff00;
    font-size: 24px;
}

.box5 {
    width: 990px;
    height: 75px;
    background: #0000ff;
    font-size: 24px;
}

#clockRow {
    word-spacing: 42px;
}

#box1Text0 {
    display: inline-table;
    font-size: 49px;
    position: relative;
    font-weight: 100;
    left: 58px;
    top: 20px;
    letter-spacing: -3px;
    transform: scaleY(1.45);
}

#box1Text1 {
    display: inline;
    font-size: 23px;
    position: relative;
    font-weight: 100;
    left: 55px;
}

#box2Text0 {
    display: inline;
    font-size: 23px;
    position: relative;
    top: 1px;
    left: 65px;
    letter-spacing: 1.5px;
}

#box2Text1 {
    text-transform: uppercase;
    display: inline;
    font-size: 23px;
    position: relative;
    top: 1px;
    left: 190px;
    letter-spacing: 1.5px;
}

#box3One {
    position: relative;
    top: 70px;
    left: 5px;
    line-height: 130%;
    font-size: 100%;
    transform: scaleY(1.45);
}

#box4One {
    display: inline-table;
    position: relative;
    top: 27px;
    left: 60px;
    transform: scale(1.05, 1.18);
    line-height: 110%;
}

#box4Two {
    display: inline-table;
    position: relative;
    top: 27px;
    left: 75px;
    transform: scale(1.05, 1.18);
    line-height: 110%;
}

#box4Three {
    display: inline-table;
    position: relative;
    top: 27px;
    left: 90px;
    transform: scale(1.05, 1.18);
    line-height: 110%;
}

#box5OneText {
    display: inline-table;
    position: relative;
    top: 13px;
    left: 72px;
    transform: scale(1.05, 1.18);
    line-height: 110%;
}

#box5TwoText {
    display: inline-table;
    position: relative;
    top: 13px;
    left: 96px;
    transform: scale(1.05, 1.18);
    line-height: 110%;
}

#bottomText {
    position: absolute;
    line-height: 130%;
    font-size: 105%;
    transform: scaleY(1.45);
    font-size: 24px;
    text-align: center;
    padding-top: 2rem;
}

@media screen and (max-width: 900px) {

    .alert {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 150%;
        background-color: rgba(0, 0, 0, 1);
        padding: 2rem;
        z-index: 999;
        opacity: 1;
    }

    * {
        overflow-y: hidden; 
    }

}

@media screen and (min-width: 901px) {

    .alert {
        visibility: hidden;
    }
}
